<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout :: header(pageTitle=${customer.id == null ? 'Add New Customer' : 'Edit Customer'})}"></div>
</head>
<body>
<div class="container mt-4">
    <h2 th:text="${customer.id == null ? 'New Customer Details' : 'Edit Customer'}">Form Title</h2>

    <form th:action="${customer.id == null} ? @{/admin/customers} : @{/admin/customers/{id}(id=${customer.id})}" 
      th:object="${customer}" 
      method="post">
        
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
        </div>
        
        <button type="submit" class="btn btn-success" th:text="${customer.id == null ? 'Save Customer' : 'Update Customer'}">Save</button>
        <a th:href="@{/admin/customers}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>